<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>localhost</key>
            <dict>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
            <key>convay.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <true/>
            </dict>
            <key>bigmeet.convay.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <true/>
            </dict>
            <key>meet2.synesisit.info</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>NSCalendarsUsageDescription</key>
    <string>See your scheduled meetings in the app.</string>
    <key>NSCameraUsageDescription</key>
    <string>Participate in meetings with video.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Local network is used for establishing Peer-to-Peer connections.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to location to provide location-based services and device management.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs access to location to provide location-based services and device management.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Participate in meetings with voice and share audio during screen recording.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need to update your profile with images from your storage or camera and send attachment to your message room from storage</string>
    <key>UIFileSharingEnabled</key>
    <false/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <false/>
    <key>NSUserActivityTypes</key>
    <array>
        <string>org.convay.ConvayMeet.ios.conference</string>
    </array>
    <key>RTCAppGroupIdentifier</key>
    <string>group.com.synesisit.convay.appgroup</string>
    <key>RTCScreenSharingExtension</key>
    <string>com.synesisit.convay.broadcastextension</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
</dict>
</plist>
